:root {
  --bgc: #2e2f44;
  --font-color: #fef9ff;
  --font-hover: #f36938;
  --form-border-color: #bf8061;
  --card-info-text: #757c84;
  --card-color: #0f0c2b;
  --option-choise: #c0bae8;
}

body {
  background-color: var(--bgc);
  color: var(--font-color);
  font-size: 14px;
  scrollbar-color: var(--option-choise) var(--card-color); 
  scrollbar-width: thin;
}

input {
  border: 0;
  background-color: transparent;
  width: 150px;
  color: #fff;
  padding-left: 5px;
}

select {
  width: 300px;
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--form-border-color);
  border-radius: 3px;
}
select option {
  background-color: var(--bgc);
  color: #fff;
}

.root {
  max-width: 1280px;
  margin: 0 auto;
}

/* header-styles begin */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.menu__item {
  position: relative;
}

.menu__item:hover {
  color: var(--font-hover);
}

.menu__link--active {
  color: var(--font-hover);
}

.menu__link {
  position: relative;
}

.menu__link--active:after {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 6px / 2);
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--font-hover);
  border-radius: 50%;
}

.logo__img {
  width: 124px;
  height: 34px;
}

.header__wrapper {
  min-width: 80px;
  display: flex;
  justify-content: space-between;
}
.mini-search {
  position: relative;
}
.mini-search__form-wrapper {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #0f0c2b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #bf8061;
  overflow: hidden;
  opacity: 0;
}


.mini-search__form-wrapper--active{
  overflow: visible;
  opacity: 1;
  z-index: 999;
}

.mini-search-form__field {
  border: 1px solid var(--form-border-color);
  border-radius: 3px;
}

.basket {
  display: flex;
}

.basket__description {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.basket__list{
  position: absolute;
  top: 30px;
  right: 105px;
  background-color: var(--card-color);
  border-top: 1px solid #bf8061;
  padding: 15px 15px;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

.basket__list--active{
  z-index: 1000;
  overflow: visible;
  opacity: 1;
}

.basket__list_title{
  font-size: 20px;
  font-weight: 400;
}
.mini-product{
  width: 100%;
  display: flex;
  justify-content:centr;
  align-items: center;
  border-bottom: 2px solid #bf8061;
}

.mini-product__basket{
  margin: 20px 0;
  padding-bottom: 20px;
}

.mini-product__img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.mini-product__info{
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 150px;
}

.btn--close{
  color: #bf8061;
}


.btn--order{
padding: 10px 7px;
background-color: var(--font-hover);
border-radius: 5px;
}

/* header-styles end */

/* filters-styles begin */

.filters {
  margin-top: 60px;
}

.filter input {
  border: 1px solid var(--form-border-color);
  border-radius: 3px;
  margin-right: 5px;
}

.fiters__input {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.filter {
  position: relative;
}

.fiters__top .filter__title {
  margin-bottom: 25px;
}

.filter label {
  color: #757c84;
}

.filter__title{
  margin-bottom: 10px;
}

.filter__content{
  display: flex;
  margin-right: 10px;
}

.filter-field-group{
  display: flex;
  flex-direction: column;
}


.before {
  position: absolute;
  top: 20px;
  left: 156px;
}

.fiters__bottom {
  display: flex;
  margin-top: 23px;
}

.fiters__bottom .filter__title {
  margin-bottom: 15px;
}
.fiters__bottom select {
  margin-right: 25px;
}

/* filters-styles end */

/* card-styles begin */
.card-list__wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 230px;
  min-height: 600px;
  background-color: var(--card-color);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  margin-left: 10px;
}

.card__img{
  width: 230px;
  height: 304px;
  cursor: pointer;
  object-fit:cover;
}

.card__desc {
  min-height: 110px;
  padding: 15px;
}

.card__title {
  margin-bottom: 20px;
  color: var(--card-info-text);
}


.card__options-btn {
  width: 70px;
  height: 50px;
  background-color: var(--option-choise);
  border-radius: 5px;
}

.card__options .watt--btn {
  margin-bottom: 10px;
}

.card__options {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card .buy--btn {
  margin: 10px auto;
}

.card__options-items{
  margin-left: 10px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.card__options-items--active{
  visibility: visible;
  opacity: 1;
}

.card__options-item{
  width: 50px;
  height: 40px;
  margin: 0 3px;
  font-size: 12px;
  padding: 5px 10px;
  background-color: var(--bgc);
  border-radius: 5px;
}

.card__options-content{
  display: flex;
  justify-content: center;
}
.buy--btn {
  padding: 10px 15px;
  background-color: var(--font-hover);
  border-radius: 10px;
}

.card__more {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #181717;
  background-color: #fcfbfb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite--active{
  color: #fc5f05;
}

.card__favorite {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #181717;
  background-color: #fcfbfb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card-styles end */

